<%= form_with url: session_path, class: "space-y-6" do |form| %>
  <%= render_input(
    name: 'email_address',
    type: 'email',
    placeholder: 'Enter your email address',
    value: params[:email_address],
    label: true,
    required: true,
    autofocus: true,
    autocomplete: 'username',
  ) %>
  <%= render_input(
    name: 'password',
    type: 'password',
    placeholder: 'Enter your password',
    label: true,
    required: true,
    autofocus: true,
    autocomplete: 'current-password',
    maxlength: 72,
  ) %>
  <div>
    <%= render_button(
      text: 'Sign in',
      button_type: 'submit',
      class: "cursor-pointer"
    ) %>
  </div>
<% end %>
