<% monthly_budget = number_to_currency(total_cost(subscriptions, "monthly")) %>
<% annual_budget = number_to_currency(total_cost(subscriptions, "annual")) %>

<div class="relative w-full overflow-auto" data-controller="subscription">
  <h2 class="text-2xl font-semibold mb-4">Summary</h2>
  <%= render partial: 'subscriptions/summary/table', locals: {
    subscriptions: subscriptions,
    monthly_budget: monthly_budget,
    annual_budget: annual_budget
  } %>
</div>
