<table class="w-full caption-bottom border-border border-2 text-sm">
  <thead class="[&_tr]:border-b">
    <tr class="border-b border-border text-text transition-colors bg-main font-base data-[state=selected]:bg-white data-[state=selected]:text-text">
      <th class="h-12 px-4 text-left align-middle font-heading text-text [&:has([role=checkbox])]:pr-0 w-[100px]">
        Type
      </th>
      <th class="h-12 px-4 text-left align-middle font-heading text-text [&:has([role=checkbox])]:pr-0 w-[100px]">
        Actual
      </th>
      <th class="h-12 px-4 text-left align-middle font-heading text-text [&:has([role=checkbox])]:pr-0 w-[100px]">
        Budget
      </th>
      <th class="h-12 px-4 text-left align-middle font-heading text-text [&:has([role=checkbox])]:pr-0 w-[100px]">
        Actions
      </th>
    </tr>
  </thead>
</table>
