<div class="inline-flex items-center rounded-base border-2 border-border px-2.5 font-base py-0.5 text-xs transition-colors focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2 text-text float-end <%= bg_class %> <%= text_class %>">
  <%= text %>
</div>
