<div class="bg-bg p-8 rounded-base shadow-dark border-2 border-border dark:border-darkBorder">
  <div class="mb-4">
    <% if title %>
      <h4 class="text-lg font-heading"><%= title %></h4>
    <% end %>
    <% if subtitle %>
      <p class="text-sm font-base"><%= subtitle %></p>
    <% end %>
  </div>
  <div class="mt-5 break-words"><%= body %></div>
</div>
