<div class="m1000:min-h-20 m1000:w-2/3 m1000:mx-auto m500:w-full bg-bg rounded-base shadow-dark border-2 border-border flex flex-col justify-between">
  <div class="flex flex-col md:flex-row">
    <% if options[:logo_url] %>
      <div class="card-img border-r-2 border-black md:border-r-2 flex-auto md:border-black w-full md:w-auto  max-xl:w-3/12 max-xl:h-auto">
        <%= image_tag(options[:logo_url], alt: "#{title} logo", class: "w-full xl:w-auto h-full object-cover") %>
      </div>
    <% end %>
    <div class="card-body p-8 flex-auto xl:w-9/12">
      <div class="mb-4">
        <% if title %>
          <h3 class="text-lg font-heading"><%= title %></h3>
        <% end %>
        <% if subtitle %>
          <p class="text-sm font-base"><%= subtitle %></p>
        <% end %>
      </div>
      <div>
        <%= body.html_safe %>
      </div>
    </div>
  </div>
</div>
