<% flash.each do |key, message| %>
  <div data-controller="flash" class="<%= flash_class(key) %>" role="alert">
    <span class="block sm:inline"><%= message %></span>
    <button type="button" data-action="click->flash#close" class="ml-4">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
<% end %>
