<div class="min-h-screen w-full bg-bg px-5 pt-24 m900:m-0 m900:w-full m500:pt-16">
  <h1 class="text-3xl font-bold mb-6">
    About this app
  </h1>
  <p class="mb-4 text-lg">
    This app is a simple subscription tracker. It allows you to keep track of your subscriptions and manage your spending.
  </p>
  <p class="mb-4 text-lg">
    You can add, edit, and delete subscriptions. You can also set a budget and track your spending against it.
  </p>
  <p class="mb-4 text-lg">
    It is a full stack Rails 8 application, using:
  </p>
  <ul class="list-disc list-inside mb-4 text-lg">
    <li>Tailwind CSS (and a litte bit of <%= render_link(text: 'shadcn/ui', url: 'https://shadcn.rails-components.com/', target: '_blank')%>
)</li>
    <li>StimulusJS & Hotwire</li>
    <li>PostgreSQL</li>
  </ul>
  <p class="mb-4 text-lg">
    Style is heavily inspired by, and adapted from, <%= render_link(text: 'neobrutalism.dev', url: 'https://www.neobrutalism.dev/', target: '_blank')%>
  </p>
  <p class="mb-4 text-lg">
    <strong>Note</strong>: I would have used their components but they weren't built for a fullstack Rails app and I had to adapt them to work with Rails.
  </p>
  <p class="text-lg">
    Icons are from <%= render_link(text: 'Font Awesome', url: 'https://fontawesome.com/', target: '_blank')%>
  </p>
</div>
