<div class="flex flex-col items-center min-h-screen">
  <main class="relative flex min-h-[100svh] flex-col items-center justify-center bg-bg px-5 py-[200px] font-bold w-full">
    <div class="container mx-auto px-4 text-center m1100:w-4/5 m1000:w-full">
      <h1 class="text-5xl font-heading m1400:text-4xl m800:text-3xl m500:text-2xl m400:text-xl">
        Manage your Subscriptions
      </h1>
      <p class="text-xl font-base mt-4 m1400:text-lg m800:text-base m500:text-sm m400:text-xs">
        Keep track of your spending and manage your subscriptions with ease.
      </p>
    </div>
    <%= render_button(
      text: "Find Out More",
      link: "about",
      button_type: "link_to",
      bg_class: "bg-blue-500 text-white mt-8",
      icon: "fa-solid fa-arrow-right",
    ) %>
  </main>
  <div class="container mx-auto px-4 py-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <%= render_card(title: "Manage Your Subscriptions", subtitle: "Easier than ever") do %>
        <div class="mt-5 break-words">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <% end %>
      <%= render_card(title: "Visualise Your Spending", subtitle: nil) do %>
        <div class="mt-5 break-words">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <% end %>
    </div>
  </div>
</div>
