<div class="bg-white p-6 rounded-lg shadow-lg w-11/12 md:w-9/12">
  <%= render partial: 'subscriptions/subscription_card_content', locals: { subscription: subscription, show_link: true } %>
  <%= link_to 'View Subscription', subscription_path(subscription), class: 'float-end bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600' %>
</div>
