<div class="w-full md:w-3/5 bg-gray-100 p-6 rounded mb-8" data-controller="subscription">
  <h2 class="text-2xl font-semibold mb-4">Summary</h2>
  <% summary_data = { "Monthly Cost" => total_cost(subscriptions, "monthly"), "Annual Cost" => total_cost(subscriptions, "annual") } %>
  <% summary_data.each do |label, value| %>
    <div class="flex justify-between mb-2">
      <span class="font-medium"><%= label %>:</span>
      <span><%= number_to_currency(value) %></span>
    </div>
  <% end %>
  <div class="flex justify-between mb-2 items-center">
    <span class="font-medium">Budget:</span>
    <div class="flex items-center space-x-2">
      <span id="budget-display" data-subscription-target="budgetDisplay"><%= number_to_currency(Current.user.budget) %></span>
      <input type="text" id="budget-input" data-subscription-target="budgetInput" class="border rounded p-2 hidden" value="<%= Current.user.budget %>">
      <button id="edit-budget-btn" data-subscription-target="editButton" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" data-action="click->subscription#toggleBudgetEdit"><i class="fa-regular fa-pen-to-square"></i></button>
      <button id="save-budget-btn" data-subscription-target="saveButton" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 hidden" data-action="click->subscription#saveBudget">Save</button>
    </div>
  </div>
</div>
