<div class="p-6 w-11/12 md:w-8/12 mx-auto mt-8">
  <div class="flex justify-between items-center mb-4">
    <%= render_button(
      text: "Back",
      button_type: "link_to",
      link: subscriptions_path,
      bg_class: "bg-gray-500 text-white hover:bg-gray-600",
      icon: "fa-solid fa-left-long",
    ) %>
  </div>
  <%= render partial: "subscription_card", locals: { subscription: @subscription, show_buttons: false } %>
  <%= render_button(
    text: "Edit Subscription",
    button_type: "link_to",
    link: edit_subscription_path(@subscription),
    bg_class: "bg-blue-500 text-white hover:bg-blue-600",
    class: "float-right mt-4",
    icon: "fa-regular fa-pen-to-square",
  ) %>
</div>
